.Palette {
    width: 605px;
    height:605px;
    display:grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px;
    box-shadow: 5px 10px 18px lawngreen;
    margin:auto;
}